.sort {
    display: flex;
    align-items: center;
    margin: 0.8em;
}

.section tr {
    background: #000;
    color: #fff;
}

.section th {
    text-align: center;
}

.address {
    letter-spacing: 0.05em;
}

.balance {
    text-align: right;
}

.whitelisted .address {
    color: #00ff74;
}

.blacklisted .address {
    color: #ddd;
}

.blacklisted .balance {
    text-decoration: line-through;
}
